@charset "utf-8";
/* CSS Document */
html
{
	width:100%;
	height: 100%;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #f3870f;
	margin-top:50px;
	background-image: url('../images/assets/hires-bg.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	background-color:#fe8701;
}
.not-supported
{
	display:none;
}

#team-container
{
	margin-top: -50px;
}
#team-button-container
{
	margin-top:30px;
}
.slime-drop
{
	position : absolute;
	background-image: url("../images/assets/slime.png");
	background-size : 100% 100%;
	width: 40%;
	height: 60%;
	
}
.slime-big-drop
{
	position : absolute;
	background-image: url("../images/assets/big-slime.png");
	background-size : 100% 100%;
	width: 100%;
	height: 100%;
	
}
#task-desc-container,
#task-image
{
	padding-left:0px;
	padding-right:0px;
}

#task-proccess
{
	width:100%;
	margin-left:0px;
	margin-right:0px;
	padding-left:0%;
	padding-right:0%;
}
#jSplash{
	
}
#jSplash h2{
	margin:10px 0;
	color:#14D9EE;
	text-shadow:1px 1px 1px #aaa;
	font-size:57px;
	font-family:Arial Narrow, Arial, sans-serif;
	letter-spacing:1px;
}

#logo-splash
{
	
	width:100%;
	
}
#jprePercentage
{
	margin-top:-70px; 
	font-size:50px;
}

.team-color
{
	white-space:nowrap;
}
.text-nowrap
{
	white-space:nowrap;
}

.modal {
    overflow-y: auto;
}
.modal-header
{
	background-image: url('../images/assets/modal-header.png');
	background-repeat: repeat-x;
	height: 70px;
}
#popup-alert .modal-footer
{
	background-image: url('../images/assets/modal-footer.png');
	background-repeat: repeat-x;
	height: 70px;
}
#popup-dialog .modal-footer
{
	background: #fff;
	margin-top: 0px;
}
#popup-alert .modal-footer
{
	margin-top: 0px;
}
#popup-team-message
{
	margin-top:10px;
	font-size:30px;
}
.modal-content-alert
{
	font-size:100px;
	font-weight:bold;
}
/* header box */
.box-header
{	
	background-image: url('../images/assets/nav-header.png');
}


.timer-bg
{
	background-image: url('../images/assets/timer-bg.png');
}
#day-countdown-timer
{
	font-size : 50px;
	font-weight : bold;
	position : relative;
	
	bottom: 1px;
	border-width: 0 0 2px;
    border-style: solid;
}

.box-header,
.timer-bg
{
	background-repeat: repeat-x;
	height: 46px;
}



.box-icon-down
{
	background-image: url('../images/assets/sm-arrow-down.png');
	
}
.box-icon-up
{
	background-image: url('../images/assets/sm-arrow-up.png');
}
.box-icon-up,
.box-icon-down
{
	background-repeat: no-repeat;
	position: absolute;
	top: 7px;
	width: 33px;
	height: 32px;
}
#title-app 
{
	margin: 35px 5px 0px;
}

#team-box-title,
#home-box-title
{
	
	font-size : 20px;
	font-weight: bold;
	color: #fff;
	text-align:left;
	margin-left: 5px;
}

#reward-claim
{
	margin-bottom: 0px;
}

.box-content
{
	background:#fff;
	margin-bottom: 30px;
}

/* header box */


#title-app
{
	text-align: left;
	line-height: 45px;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 1px 1px #ae6809;
}

#about-app
{
	color: #fff;
	margin-top: 10px;
	text-shadow: 1px 1px #ae6809;
}

#char-image img
{
	width:95%;
	margin-top: 30px;
}

#char-name
{
	margin-top:30px;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px #ae6809;
}

#char-team
{
	font-size: 30px;
	margin-top: 5px;
	color: #fff;
	text-shadow: 1px 1px #ae6809;
	
}
#char-message
{
	margin: 15px 0px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px #ae6809;
}

#reward-proccess
{
	min-height: 201px;
}
#team-button
{
	padding: 10px 0px;
}

.btn-team
{
	cursor: pointer;
	cursor: hand;
	
}
.btn-cover
{
	position:absolute;
	display: none;
}

#task-image
{
	margin-top:10px;
}

#task-desc,
#reward-desc
{
	font-weight: bold;
}
#task-desc
{
	font-size: 16px;
}
#reward-desc
{
	font-size: 28px;
	line-height: 30px;
}
#next-event-desc
{
	font-size: 20px;
}
.hcenter
{
	height:120px;
	margin: 10px auto;
	display:inline-block;
	text-align:center;
}

.vcenter 
{
	height:120px;
	width:100%;
    display: table-cell;
    vertical-align: middle;
}



.hcenter-sm
{
	height:60px;
	margin: 10px auto;
	display:inline-block;
	text-align:center;
}

.vcenter-sm
{
	height:60px;
	width:100%;
    display: table-cell;
    vertical-align: middle;
}

.vcenter-xs
{
	display: table-cell;
	height: 46px;
	vertical-align: middle;
}
#task-button,
#reward-button
{
	margin-bottom: 10px;
}
.btn-slime
{
	color:#fff;
	font-size: 32px;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
}
.white-divider
{
	width:100%;
	height:5px;
	background: #fff;
}

.task-animate-go
{
	color: #fff;
	padding-top: 0px;
	font-size: 32px;
	font-weight: bold;
}

#task-countdown-timer
{
	color: #fff;
	font-size: 45px;
	line-height: 45px;
}


/* for 240 device */
@media only screen 
and (max-width : 320px)
{
	.container
	{
		padding-left: 0px; 
		padding-right: 0px; 
	}
	#slime-cup-logo img
	{
		width: 95%;
	}
	
	.row
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12
	{
		padding-left:0px;
		padding-right:0px;
	}
	/*
	#task-content
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	#team-container
	{
		margin-left: 15px;
		margin-right: 15px;
	}
	*/
	#title-app 
	{
		font-size: 30px;
		line-height: 30px;
	}

	
	.white-divider
	{
		height: 3px;
		margin-bottom: 5px;
	}
	
	#home-box-title,
	#team-box-title
	{
		padding-left: 5px;
		font-size: 16px;
	}
	.btn-team
	{
		width: 49%;
	}
	.modal-header
	{
		background-size: 45px;
		height: 48px;
	}
	.modal-footer
	{
		padding: 5px 0px;
	}
	#popup-alert .modal-footer
	{
		background-size: 45px;
		height: 48px;
	}
	.modal-content-alert
	{
		font-size:50px;
		font-weight:bold;
	}
	
	.modal-body
	{
		padding-top:5px;
		padding-bottom:5px;
	}
	#popup-team-message,
	#popup-team-image
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	#popup-team-message
	{
		text-align:center;
		width: 55%;
		font-size: 18px;
		line-height: 25px;
	}
	#popup-team-image
	{
		width: 45%;
	}
	#popup-team-image img
	{
		width: 100%;
	}
	#logo-splash img
	{
		width: 233px;
	}
	
	#jpreSlide
	{
		margin-left: -116px;
	}
	#jpreLoader
	{
		width: 220px;
		margin-left: -110px;
		margin-top: 220px;
	}
	
	
} 
/* for 320 device */
@media only screen 
and (min-width : 321px)
and (max-width : 480px)
{
	#slime-cup-logo img
	{
		width: 95%;
	}
	
	#home-box-title
	{
		font-size: 14px;
		line-height: 22px;
	}
	
	.btn-team
	{
		width: 49%;
	}
	.modal-body
	{
		padding-top:0px;
	}
	#popup-team-image,
	#popup-team-message
	{
		text-align:center;
		width: 100%;
		font-size: 30px;
		line-height: 35px;
		margin-top: 0;
	}
	#logo-splash img
	{
		width: 295px;
	}
	
	#jpreSlide
	{
		margin-left: -147px;
	}
	#jpreLoader
	{
		width: 280px;
		margin-left: -140px;
		margin-top: 320px;
	}
	
	
}
/* for 320 below device */
@media only screen 
and (max-width : 480px)
{
	/* team */
	#char-image
	{
		width: 25%;
	}
	#char-info
	{
		width: 75%;
	}
	#char-image img
	{
		width: 60px;
	}
	

	#char-name
	{
		font-size: 28px;
	}
	
	#char-team
	{
		font-size: 16px;
	}
	
	#char-message
	{
		font-size: 16px;
	}
	/*task*/
	#task-image
	{
		width: 100%;
	}
	#task-desc-container,
	#reward-desc-container
	{
		width: 100%;
	}
	#task-desc,
	#reward-desc
	{
		width: 100%;
		height: 100%;
	}
	.hcenter
	{
		height: 100%;
	}
	#task-button,
	#reward-button,
	#start-over-button
	{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	#modal-approve
	{
		width: 100%;
	}
	#modal-back
	{
		width: 100%;
		margin-left: 0px;
		margin-top: 10px;
	}
	
	#jprePercentage
	{
		margin-top:0px;
		font-size:20px
	}
	
	

}
/* for 480 below device */
@media only screen 
and (max-width : 768px)
{
	#title-app 
	{
		text-align:center;
		margin: 5px 0px;
	}
	
	#char-info-container .white-divider
	{
		width:95%;
	}
}	

@media only screen 
and (min-width : 481px)
and (max-width : 768px)
{
	
	.btn-team
	{
		width: 24%;
	}

	
}




/* mobile */