/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background-color: #000000
	;
	color: 000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 62.5%;
	margin: 2em 8% 2em 8%;
	width:auto;
}

h1{
	color: #CCCCCC;
	font-weight: lighter;
	text-transform: uppercase;
	font-variant: normal;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 16px;
}
h1 input {
	color: #CCCCCC;
	font-weight: 100;
	font-size: 14pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}

.revision h1{
	margin: 0.3em 0;
}

.revision p#description{
	margin: 1em;
}

h2{
	color: #f8982b;
	font-size: 12pt;
}

h2 input {
	color: #FFA304;
	font-weight: 100;
	font-size: 12pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3{
	font-weight: 100;
	margin: 1em 0 0 0;
	padding: 0.4em 0 0.2em 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F8982B;
}

h3 input {
	font-size:11pt;
	font-weight: 100;
	color: CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}
h4{
    color: #F8982B;
	font-weight: 50;
	margin: 1em 0 0 2em;
	padding: 0.1em 0 0.1em 0;
	
}

h4 input {
	font-size: 9pt;
	font-weight: 50;
	color: #F8982B;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}

input {
	color: 000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.colon {
	font-size:14pt;
	color: F8982B;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}
a:link{
	color: #999999;
	text-decoration: none;
	margin: 1em 0 0 2em;
	
}

a:visited{
	color: #999999;
	text-decoration: none;
	margin: 1em 0 0 2em;
}

.revision a:visited{
	color: #999999;
	text-decoration: none;
}

a:hover{
	color: #F8982B;
	text-decoration: underline;
	margin: 1em 0 0 2em;
}
a.clientname:link {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #CCCCCC;
}
a.clientname:hover {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #CCCCCC;
}
a.clientname:visited{
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #CCCCCC;
}
a.clientname:active {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #CCCCCC;
}

.revision a:hover{
	color: #666666;
	text-decoration: underline;
}

a:active{
	color: #999999;
	margin: 1em 0 0 2em;
}

ul{
	list-style-type: none;
	color: #CCCCCC;
}

li{
	margin: 0.8em;
}

li.editing {
	border:1px dashed #CCCCCC;
	padding:5px;
}

#container{
	background-color:#000000;
	width:auto;
	
}

#container #left{
	padding:0;
}
#container #right{
	padding:0;
}
#container #top{
}
#container #bottom{
	padding:0;
}
#container #top-left{
	width:10px;
	float:left;
}
#container #top-right{
	width:10px;
	float:right;
}
#container #bottom-left{
	width:10px;
	float:left;
}
#container #bottom-right{
	width:10px;
	float:right;
}

#header{
/*	background: url("../images/shadow_tr.gif") no-repeat 100% 6em;*/
	height: 7em;
	font-size: 1em;
	text-align:left;
}

#header p{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
}

#date{
	float: right;
	padding-right:5px;
}

#logo{
	padding-left: 0px;
	padding-bottom: 25px;
	margin: 0 -1px 0 6px;
}

#header p a:link{
	color: 000000;
	text-decoration: none;
}

#header p a:hover{
	text-decoration: underline;
} 

#content{

	text-align: left;
	padding: 1.5em 2em 4em 2em;
	margin: 0 -1px 0 6px;
	font-size: 1.2em;
	width:auto;
}

#pagenav{
	float: right;
	margin: -0.7em 0 0 0;
}

#pagenav li{
	display: inline;
	margin: 0;
	padding: 0.2em;
}

#pagenav li a:hover{
	color: #203456;
	text-decoration: none;
	border-bottom: 2px solid #203456;
}

#pagenav .current{
	color: #203456;
	font-size: 1.8em;
	padding: 0;
}

.linearNav{
	font-size: 0.8em;
}


#footer{
	text-align: right;
}

#footer p{ 
	padding-right: 5px;
	color: #666666;
	font-size: 9px;
}

.imgShell{
	text-align: center;
}

.imgShell img{
	margin: 0 auto;
}

.imgShell object{
	margin: 0 auto;
}

.imgShell embed{
	margin: 0 auto;
}

#stage {
	line-height:16pt;
}
.legal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #CCCCCC;
	padding-right: 20px;
}
.swf_content_box {
	padding-top: 20px;
}
