<?xml version="1.0" encoding="utf-8"?>
<config>
	<!--  SERVICES  -->
	<!--  Enable, disable, and configure services here  -->
	<services>
		<!-- <service type="analytics" enabled="true" id="4932907072807498742"/> -->
		<service type="analytics" enabled="false" id="4932907072807498742"/>
	</services>

	<game>
		<unlockable enabled="true" code="1111" />
	</game>
	<stages>
		<stage enabled="true" id="1" name="Krusty Krab" jsonFile="Stage1_Pantry.json" packName="game_krustyKrab" firedBg="kk_FiredBg" wantAdSprite="kk_WantAd" wantAdFiredSprite="kk_WantAdFired"  wantAdSpriteClick="kk_WantAdClick" availableAfterRound="0" availableBeforeRound="1" />
		<stage enabled="true" id="2" name="Pizza Piehole" jsonFile="Stage2_Pantry.json" packName="game_pizzaPiehole" firedBg="pp_FiredBg" wantAdSprite="pp_WantAd" wantAdFiredSprite="pp_WantAdFired" wantAdSpriteClick="pp_WantAdClick" availableAfterRound="1" availableBeforeRound="3" />
		<stage enabled="true" id="3" name="Taco Sombrero" jsonFile="Stage3_Pantry.json" packName="game_tacoSombrero" firedBg="ts_FiredBg" wantAdSprite="ts_WantAd" wantAdFiredSprite="ts_WantAdFired" wantAdSpriteClick="ts_WantAdClick" availableAfterRound="1" availableBeforeRound="3" />
		<stage enabled="true" id="4" name="Weenie Hut" jsonFile="Stage4_Pantry.json" packName="game_weenieHut" firedBg="wh_FiredBg" wantAdSprite="wh_WantAd" wantAdFiredSprite="wh_WantAdFired" wantAdSpriteClick="wh_WantAdClick" availableAfterRound="1" availableBeforeRound="3" />
		<stage enabled="true" id="5" name="Krusty Krab Bonus" jsonFile="Stage5_Pantry.json" packName="game_krustyKrab" firedBg="" wantAdSprite="kk_BonusRound" wantAdFiredSprite="" wantAdSpriteClick="" availableAfterRound="3" availableBeforeRound="5" />
	</stages>
</config>